# Some mac file that some people sometimes commit
.DS_Store
# IntelliJ
.idea
*.iml
# Python
venv
# Possible build output
out
target

*.egg-info/
.pytest_cache
__pycache__
.coverage
htmlcov

# For custom
config-*.json
!config.json
config.json.bak

# image storage
images/*
!images/placeholder.jpg
!images/favicon.ico